.wrapper
  .devise-wrapper
    .devise-area
      .devise-title
        ログイン
      .devise-form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field.devise-form__box
            = f.label :email, value: "メールアドレス"
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email", class: "devise-form__box__text"
          .field.devise-form__box
            = f.label :password, value: "パスワード"
            %br/
            = f.password_field :password, autocomplete: "current-password", class: "devise-form__box__text"
          - if devise_mapping.rememberable?
            .field
              = f.check_box :remember_me
              = f.label :remember_me, class: "remember-password"
          .actions
            = f.submit "Log in", class: "devise-btn"
      .devise-link
        = render "devise/shared/links"
        = link_to root_path do
          トップページに戻る
