.wrapper
  .header
    = render "header"
  .partslist-edit
    .partslist-edit__title-area
      .partslist-edit__title-area__title
        リストを編集
    .partslist-edit__form-area
      = form_with url: user_parts_list_path, method: :put, list_id: params[:id] do |f|
        .partslist-edit__form-area__title
          = f.label :name, "リスト名"
        .partslist-edit__form-area__textarea
          = f.text_field :name, autofocus: true, autocomplete: "name", class: "partslist-edit__form-area__textarea__text", value: @parts_list.name
          = hidden_field_tag :list_id, params[:id]
        .partslist-edit__form-area__public-private
          #switchArea
            %input{name: "public_private", type: "hidden", value: "0"}
            %input#public_private{name: "public_private", type: "checkbox", checked: @parts_list.public_private}
            %label{for: "public_private"}
              %span
            #swImg
        .partslist-edit__form-area__button-area
          = f.submit "変更を保存", class: "partslist-edit__form-area__button-area__btn"
    .partslist-edit__link-area
      = link_to user_parts_lists_path(current_user.id), class: "partslist-edit__link-area__btn" do
        一覧に戻る