.wrapper
  .header
    = render "header"

  = render 'layouts/notifications'

  .main
    .contents
      .partslists__controller
        .partslists__controller__box

          = link_to "リストを新規作成", new_user_parts_list_path(current_user.id), class: "partslists__controller__box__btn"

      - @lists.each do |list|
        .partslists__content
          .partslists__content__title
            .partslists__content__title__list-name
              = link_to list.name, user_parts_list_path(current_user.id, list.id)
            .partslists__content__title__box
              = link_to "リストを編集", edit_user_parts_list_path(current_user.id, list.id), class: "partslists__content__title__box__edit"
              = link_to "リストを削除", user_parts_list_path(current_user.id, list.id), method: :delete, class: "partslists__content__title__box__delete"

          .shows
            .show
              .show-list
                .show-list__head
                  = link_to pcpart_path(Pcpart.find_by(category: "CPU").id, list_id: list.id), class: "show-key-box" do
                    .show-key-content= "CPU"
                  .show-value-box
                    .show-value-content= get_cpu_name(list.cpu_id)
                .show-list__head
                  = link_to pcpart_path(Pcpart.find_by(category: "マザーボード").id, list_id: list.id), class: "show-key-box" do
                    .show-key-content= "マザーボード"
                  .show-value-box
                    .show-value-content= get_motherboard_name(list.mb_id)
                .show-list__head
                  = link_to pcpart_path(Pcpart.find_by(category: "メモリー").id, list_id: list.id), class: "show-key-box" do
                    .show-key-content= "メモリー"
                  .show-value-box
                    .show-value-content= get_memory_name(list.memory_id)
                .show-list__head
                  = link_to pcpart_path(Pcpart.find_by(category: "HDD").id, list_id: list.id), class: "show-key-box" do
                    .show-key-content= "HDD"
                  .show-value-box
                    .show-value-content= get_hdd_name(list.hdd_id)
                .show-list__head
                  = link_to pcpart_path(Pcpart.find_by(category: "SSD").id, list_id: list.id), class: "show-key-box" do
                    .show-key-content= "SSD"
                  .show-value-box
                    .show-value-content= get_ssd_name(list.ssd_id)
                .show-list__head
                  = link_to pcpart_path(Pcpart.find_by(category: "グラフィックボード").id, list_id: list.id), class: "show-key-box" do
                    .show-key-content= "グラフィックボード"
                  .show-value-box
                    .show-value-content= get_videocard_name(list.videocard_id)
                .show-list__head
                  = link_to pcpart_path(Pcpart.find_by(category: "電源ユニット").id, list_id: list.id), class: "show-key-box" do
                    .show-key-content= "電源ユニット"
                  .show-value-box
                    .show-value-content= get_powersupply_name(list.power_id)
                .show-list__head
                  = link_to pcpart_path(Pcpart.find_by(category: "PCケース").id, list_id: list.id), class: "show-key-box" do
                    .show-key-content= "PCケース"
                  .show-value-box
                    .show-value-content= get_pccase_name(list.pccase_id)
                .show-list__head
                  = link_to pcpart_path(Pcpart.find_by(category: "CPUクーラー").id, list_id: list.id), class: "show-key-box" do
                    .show-key-content= "CPUクーラー"
                  .show-value-box
                    .show-value-content= get_cpucooler_name(list.cpucooler_id)
                .show-list__head
                  = link_to pcpart_path(Pcpart.find_by(category: "液晶ディスプレイ").id, list_id: list.id), class: "show-key-box" do
                    .show-key-content= "液晶ディスプレイ"
                  .show-value-box
                    .show-value-content= get_display_name(list.display_id)

          -# 旧テーブル
          -# %table.parts__table
          -#   %tr.parts__table__head__tr
          -#     %td.td-list=link_to "CPU", pcpart_path(1, list_id: list.id)
          -#     %td.td-list=link_to "マザーボード", pcpart_path(2, list_id: list.id)
          -#   %tr.parts__table__body__tr
          -#     %th= get_cpu_name(list.cpu_id)
          -#     %th= get_motherboard_name(list.mb_id)

          -#   %tr.parts__table__head__tr
          -#     %td.td-list=link_to "メモリー", pcpart_path(3, list_id: list.id)
          -#     %td.td-list=link_to "HDD", pcpart_path(4, list_id: list.id)
          -#   %tr.parts__table__body__tr
          -#     %th= get_memory_name(list.memory_id)
          -#     %th= get_hdd_name(list.hdd_id)

          -#   %tr.parts__table__head__tr
          -#     %td.td-list=link_to "SSD", pcpart_path(5, list_id: list.id)
          -#     %td.td-list=link_to "グラフィックボード", pcpart_path(6, list_id: list.id)
          -#   %tr.parts__table__body__tr
          -#     %th= get_ssd_name(list.ssd_id)
          -#     %th= get_videocard_name(list.videocard_id)

          -#   %tr.parts__table__head__tr
          -#     %td.td-list=link_to "電源ユニット", pcpart_path(7, list_id: list.id)
          -#     %td.td-list=link_to "PCケース", pcpart_path(8, list_id: list.id)
          -#   %tr.parts__table__body__tr
          -#     %th= get_powersupply_name(list.power_id)
          -#     %th= get_pccase_name(list.pccase_id)

          -#   %tr.parts__table__head__tr
          -#     %td.td-list=link_to "CPUクーラー", pcpart_path(9, list_id: list.id)
          -#     %td.td-list=link_to "液晶ディスプレイ", pcpart_path(10, list_id: list.id)
          -#   %tr.parts__table__body__tr
          -#     %th= get_cpucooler_name(list.cpucooler_id)
          -#     %th= get_display_name(list.display_id)
