.wrapper
  .header
    = render "header"
  = render 'layouts/notifications'

  .main
    .contents
      .partslists__controller
        .partslists__controller__box
          = link_to "リストを作成", new_user_parts_list_path(current_user.id), class: "partslists__controller__box__btn"

      - @lists.each do |list|
        .partslists__content
          .partslists__content__title
            .partslists__content__title__list-name
              = link_to list.name, edit_user_parts_list_path(current_user.id, list.id), class: "partslists__content__title__list-name__name"
              %p.partslists__content__title__list-name__fukidashi リスト名をクリックするとリストの編集に移動します
              .partslists__content__title__list-name__public-private
                - if list.public_private
                  .partslists__content__title__list-name__public-private__public= "リスト公開中"
            .partslists__content__title__box
              = link_to "リストを比較", user_parts_list_path(current_user.id, list.id), class: "partslists__content__title__box__compare"
              = link_to "リストを削除", user_parts_list_path(current_user.id, list.id), method: :delete, class: "partslists__content__title__box__delete"

          .shows
            .show
              .show-list
                .show-list__head
                  = link_to pcpart_path(get_cpu_id, list_id: list.id), class: "show-key-box link-hover" do
                    .show-key-content= "CPU"
                  .show-value-box
                    .show-value-content= get_cpu_name(list.cpu_id)
                .show-list__head
                  = link_to pcpart_path(get_motherboard_id, list_id: list.id), class: "show-key-box link-hover" do
                    .show-key-content= "マザーボード"
                  .show-value-box
                    .show-value-content= get_motherboard_name(list.mb_id)
                .show-list__head
                  = link_to pcpart_path(get_memory_id, list_id: list.id), class: "show-key-box link-hover" do
                    .show-key-content= "メモリー"
                  .show-value-box
                    .show-value-content= get_memory_name(list.memory_id)
                .show-list__head
                  = link_to pcpart_path(get_hdd_id, list_id: list.id), class: "show-key-box link-hover" do
                    .show-key-content= "HDD"
                  .show-value-box
                    .show-value-content= get_hdd_name(list.hdd_id)
                .show-list__head
                  = link_to pcpart_path(get_ssd_id, list_id: list.id), class: "show-key-box link-hover" do
                    .show-key-content= "SSD"
                  .show-value-box
                    .show-value-content= get_ssd_name(list.ssd_id)
                .show-list__head
                  = link_to pcpart_path(get_videocard_id, list_id: list.id), class: "show-key-box link-hover" do
                    .show-key-content= "グラフィックボード"
                  .show-value-box
                    .show-value-content= get_videocard_name(list.videocard_id)
                .show-list__head
                  = link_to pcpart_path(get_powersupply_id, list_id: list.id), class: "show-key-box link-hover" do
                    .show-key-content= "電源ユニット"
                  .show-value-box
                    .show-value-content= get_powersupply_name(list.power_id)
                .show-list__head
                  = link_to pcpart_path(get_pccase_id, list_id: list.id), class: "show-key-box link-hover" do
                    .show-key-content= "PCケース"
                  .show-value-box
                    .show-value-content= get_pccase_name(list.pccase_id)
                .show-list__head
                  = link_to pcpart_path(get_cpucooler_id, list_id: list.id), class: "show-key-box link-hover" do
                    .show-key-content= "CPUクーラー"
                  .show-value-box
                    .show-value-content= get_cpucooler_name(list.cpucooler_id)
                .show-list__head
                  = link_to pcpart_path(get_display_id, list_id: list.id), class: "show-key-box link-hover" do
                    .show-key-content= "液晶ディスプレイ"
                  .show-value-box
                    .show-value-content= get_display_name(list.display_id)
