.content
  .content-top
    - if user_signed_in?
      = f.submit name: cpucooler.id, class: "add-btn", value: "リストに追加", "data-disable-with":"リストに追加"
    .content-clearbox
  .show-list
    .show-list__head
      .show-image= image_tag "#{cpucooler.try(:image)}", size: "120x120", alt: "No Image", class: "td-image"
      .show-image-name-box
        .show-image-name-content= cpucooler.try(:name)
    .show-list__head
      .show-key-box
        .show-key-content メーカー
      .show-value-box
        .show-value-content= cpucooler.try(:brand)
    .show-list__head
      .show-key-box
        .show-key-content Intel対応ソケット
      .show-value-box
        .show-value-content= cpucooler.try(:intel)
    .show-list__head
      .show-key-box
        .show-key-content AMD対応ソケット
      .show-value-box
        .show-value-content= cpucooler.try(:amd)
    .show-list__head
      .show-key-box
        .show-key-content タイプ
      .show-value-box
        .show-value-content= cpucooler.try(:flowtype)
    .show-list__head
      .show-key-box
        .show-key-content ノイズレベル
      .show-value-box
        .show-value-content= cpucooler.try(:noise)
