.content
  = f.submit name: cpu.id, class: "add-btn", value: "リストに追加", "data-disable-with":"リストに追加"
  %table.parts__table
    %tr.parts__table__head__tr
      %th.th-4th.th-name= cpu.name
      %th.th-4th メーカー
      %th.th-4th プロセッサー

    %tr.parts__table__body__tr
      %td{:rowspan => "3"}= image_tag "#{cpu.image}", size: "120x120", alt: "No Image"
      %td= cpu.brand
      %td= cpu.processor

    %tr.parts__table__head__tr
      %th.th-4th ソケット形状

    %tr.parts__table__body__tr
      %td= cpu.socket


