.side-bar__list
  = link_to pcpart_path(1), class: "side-bar__list__category" do
    CPU
  = link_to pcpart_path(2), class: "side-bar__list__category" do
    マザーボード
  = link_to pcpart_path(3), class: "side-bar__list__category" do
    メモリー
  = link_to pcpart_path(4), class: "side-bar__list__category" do
    HDD
  = link_to pcpart_path(5), class: "side-bar__list__category" do
    SSD
  = link_to pcpart_path(6), class: "side-bar__list__category" do
    グラフィックボード
  = link_to pcpart_path(7), class: "side-bar__list__category" do
    電源ユニット
  = link_to pcpart_path(8), class: "side-bar__list__category" do
    PCケース
  = link_to pcpart_path(9), class: "side-bar__list__category" do
    CPUクーラー
  = link_to pcpart_path(10), class: "side-bar__list__category" do
    液晶ディスプレイ
