.parts-list
  = link_to pcpart_path(1), class: "parts-list__category" do
    CPU
  = link_to pcpart_path(2), class: "parts-list__category" do
    マザーボード
  = link_to pcpart_path(3), class: "parts-list__category" do
    メモリー
  = link_to pcpart_path(4), class: "parts-list__category" do
    HDD
  = link_to pcpart_path(5), class: "parts-list__category" do
    SSD
  = link_to pcpart_path(6), class: "parts-list__category" do
    グラフィックボード
  = link_to pcpart_path(7), class: "parts-list__category" do
    電源ユニット
