- case params[:id]
- when "1"
  = link_to "データベース更新", "/pcparts/1/cpus", method: :post
- when "2"
  = link_to "データベース更新", "/pcparts/2/mbs", method: :post
- when "3"
  = link_to "データベース更新", "/pcparts/3/memories", method: :post
- when "4"
  = link_to "データベース更新", "/pcparts/4/hdds", method: :post
- when "5"
  = link_to "データベース更新", "/pcparts/5/ssds", method: :post
- when "6"
  = link_to "データベース更新", "/pcparts/6/videocards", method: :post
- when "7"
  = link_to "データベース更新", "/pcparts/7/powers", method: :post
